# ROS build folders
build/
devel/
install/
logs/

# ROS runtime
.ros/

# Python
*.pyc
__pycache__/
.DS_Store
# Bag files
*.bag

# Editors
.vscode/
.idea/

# Maps (isteğe bağlı) 
!src/smart_waste_nav/config/*.yaml
!src/smart_waste_nav/config/navigation_nodes.yaml
