<launch>
  <!-- Bu IP'yi Ubuntu / robot PC'nin aynı Wi-Fi ağındaki adresi olarak değiştirin. -->
  <arg name="mqtt_host" default="192.168.1.100" />
  <arg name="mqtt_port" default="1883" />
  <arg name="mqtt_topic" default="bin/status" />
  <arg name="mqtt_clear_topic" default="bin/cleared" />

  <node pkg="smart_waste_nav"
        type="alarm_route_executor.py"
        name="alarm_route_executor"
        output="screen">

    <param name="nodes_file"
           value="$(find smart_waste_nav)/config/navigation_nodes.yaml" />
    <param name="enable_ros_alarm_topic"
           value="false" />
    <param name="enable_mqtt"
           value="true" />
    <param name="alarm_topic"
           value="/waste_alarm" />
    <param name="mqtt_host"
           value="$(arg mqtt_host)" />
    <param name="mqtt_port"
           value="$(arg mqtt_port)" />
    <param name="mqtt_topic"
           value="$(arg mqtt_topic)" />
    <param name="mqtt_clear_topic"
           value="$(arg mqtt_clear_topic)" />
    <param name="mqtt_client_id"
           value="smart_waste_nav_executor" />
    <param name="mqtt_qos"
           value="0" />
    <param name="mqtt_keepalive"
           value="60" />
    <param name="mqtt_clear_qos"
           value="0" />
    <param name="publish_cleared_on_reach"
           value="true" />
    <param name="alarm_filter_enabled"
           value="true" />
    <param name="fill_percent_threshold"
           value="80.0" />
    <param name="use_move_base_plan_costs"
           value="true" />
    <param name="make_plan_service_name"
           value="/move_base/make_plan" />
    <param name="make_plan_tolerance"
           value="0.10" />
    <param name="use_static_map_costs"
           value="true" />
    <param name="map_yaml_path"
           value="$(find smart_waste_nav)/maps/sunum_map.yaml" />
    <param name="static_map_clearance_m"
           value="0.20" />
    <param name="static_map_allow_unknown"
           value="false" />
    <param name="goal_tolerance"
           value="0.75" />
    <param name="wait_after_goal"
           value="1.0" />
    <param name="max_exact_route_nodes"
           value="9" />

  </node>
</launch>
