<launch>

  <node pkg="move_base"
        type="move_base"
        name="move_base"
        output="screen">

    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find smart_waste_nav)/config/costmap_common_params.yaml"
              command="load"
              ns="global_costmap"/>

    <rosparam file="$(find smart_waste_nav)/config/costmap_common_params.yaml"
              command="load"
              ns="local_costmap"/>

    <rosparam file="$(find smart_waste_nav)/config/global_costmap_params.yaml"
              command="load"/>

    <rosparam file="$(find smart_waste_nav)/config/local_costmap_params.yaml"
              command="load"/>

    <rosparam file="$(find smart_waste_nav)/config/trajectory_planner.yaml"
              command="load"/>

  </node>

</launch>
